body {
    background-image: url('stars.jpg');
    background-size: cover;/*Obraz tla rozciąga się na cała powierzchnię strony*/
    background-position: center; 
    margin:0;
    padding:0;
}

.container {
    min-height: 100vh; 
    width: 100%;
    flex-direction: column; /*Elementy wewnątrz kontenera będą układane w kolumnie*/
    align-items: center; /*Wyrównanie elementów wewnątrz kontenera do środka*/
}

.title{
    text-align: center;
    margin-top: 0px;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 15px 30px;
    border-radius: 10px;
    display: none;
}

.title h2{
    color: #707187;
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.left, .right{
    margin: 20px;
}

.kula{
    width: 250px;
    height: 250px;
    background: radial-gradient(circle at 30% 30%, rgba(106, 56, 106, 0.8), rgba(50, 0, 50, 0.9));/*Gradient promieniowy na tle*/
    border-radius: 50%; /*Koło*/
    left: 20%;
    top: 23%;
    position: absolute;/*Ustawienie pozycji absolutnej względem nadrzędnego elementu*/
    box-shadow: 0 0 30px 15px rgba(172, 59, 152, 0.5), inset 0 0 10px 5px rgba(255, 255, 255, 0.3);/*Dodanie efekt cienia zewnętrznego i wewnętrznego*/
    animation: AnimacjaKula 2s ease-in-out infinite;/*Dodaje animację, która powtarza się w nieskończoność*/
}

.tekst_przy_najechaniu{
    display: none;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background-color: rgba(112, 15, 104, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
}


@keyframes AnimacjaKula{
    0% {
        box-shadow: 0 0 30px 15px rgba(172, 59, 152, 0.5), inset 0 0 10px 5px rgba(255, 255, 255, 0.3);/*Początkowy cień*/
    }
    50% {
        box-shadow: 0 0 40px 20px rgba(178, 156, 178, 0.7), inset 0 0 15px 7px rgba(255, 255, 255, 0.5);/*Zmiana cienia w polowie animacji*/
    }
    100% {
        box-shadow: 0 0 30px 15px rgba(172, 59, 152, 0.5), inset 0 0 10px 5px rgba(255, 255, 255, 0.3);/*Powrót do początkowego cienia*/
    }
}

#form_1 {
    width: 250px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin-top: 30px;
    position: absolute;
    left: 19%; 
    top: 58%;
    display: none; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    height: 120px;
    color:#405379;
    font-size: 16px;
    box-shadow:10px 7px 5px #8d2d94;/*Dodanie cienia*/
}   

.przycisk_form_1{
    background-color: #8d2d94;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 15px; 
    border: none; 
    border-radius: 1000px;
    padding: 5px 10px; 
}

.podswietlenie_form {
    box-shadow: 0 0 30px 10px rgba(123, 39, 114, 0.8);
    transition: box-shadow 0.5s ease-in-out;/*Płynne przejście przy zmianie cienia, trwające 0,5 sekundy*/
}

.right {  
    margin-left: 70%;
    position: absolute;
    top: 20%;
}

#form_2 {
    display: none;
    width: 250px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin-top: 30px;
    left: 16%; 
    top: 18%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    color:#405379;
    font-size: 16px;
}

.tekst_2 {
    font-size: 18px;
    color: #f4f4f4;
    text-align: center;
    padding: 10px 15px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 10px 7px 5px purple;
}

.podswietlenie_form_2 {
    box-shadow: 0 0 30px 10px rgba(123, 39, 114, 0.8);
    transition: box-shadow 0.5s ease-in-out;/*Płynne przejście przy zmianie cienia, trwające 0,5 sekundy*/
}

.przycisk_form_2 {
    background-color: #8d2d94;
    width: 300px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    border-radius: 1000px;
    padding: 5px 10px;
    box-shadow: 0 0 15px rgba(141, 45, 148, 0.5);
    animation: glow 2s infinite alternate;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 15px 5px rgba(141, 45, 148, 0.5);
    }
    100% {
        box-shadow: 0 0 25px 15px rgba(141, 45, 148, 0.8);
    }
}

.przycisk_form_3 {
    background-color: #8d2d94;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 15px; 
    border-radius: 1000px;
    padding: 5px 10px; 
    margin: 2px;
}

#wynikZodiaku {
    position: absolute;
    top: 50%;/* Wyśrodkowanie w pionie*/
    right: 280px;/* Wyśrodkowanie w poziomie*/
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    max-width: 90%; /*Maksymalna szerokość wyniku*/
    width: 250px;/*Szerokość ekranu*/
    text-align: center;
    color: #405379;
    font-size: 16px;
    display: flex; 
    align-items: center;    
}
/*
#obraz_zodiaku img{
    border-radius: 50px;
}*/
